<!--
  Generated template for the KeystorePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Export Private Key</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="keystoreBox borderTop10">

    <div class="typeBox">
      <div class="typeItem" *ngFor="let item of typeArray;let i = index;" (click)="selectType(i)" [ngClass]="{cur:keyType == i}" >{{item}}</div>
    </div>

    <div class="tyepContent">
      <div class="header">Please save and backup your keystore safely. Do not transfer via the internet. If you lose it, you lose access to your assets.</div>

      <div class="contentItem" [ngClass]="{show:keyType == 0}" >
        <div class="keyBox">{{keystore}}</div>
        <div class="copyKeyBtn" (click)="copyKeystore()">Copy Keystore</div>
      </div>

      <div class="contentItem" [ngClass]="{show:keyType == 1}">
        <div class="keyQRCodeBox" [ngClass]="{hider:isHideCode}" id="qrcode"></div>
        <div class="copyKeyBtn" (click)=" isHideCode=!isHideCode ">
          <span *ngIf="isHideCode" >Display QR code</span>
          <span *ngIf="!isHideCode" >Hide QR code</span>
        </div>
      </div>


    </div>


  </div>
</ion-content>
