page-exportkeystore {


  ion-toolbar .bar-button{
    margin: 0 6px!important;
    padding: 0 5px!important;
  }

  .toolbar-background-md,.scroll-content{
    /*background-color: #fff;*/
  }
  .toolbar-title-md{
    font-weight: normal;
  }
  .exportKeystoreContainer{
    padding: 2rem 1.8rem;
  }
  .exportTipItem{
    margin-bottom: 1rem;
  }
  .exportTipItem>h4{
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 600;
    color: #fff;
    margin: 0;
  }
  .exportTipItem>div{
    color: #ccc;
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
  .keystoreOutputBox{
    height: 12rem;
    background-color: #eee;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1rem;
    line-height: 1rem;
    margin-top: 36px;
    overflow-y: auto;
    user-select: all;
  }
  .copyKeystore{
    text-align: center;
    background-color: #60b6c5;
    color: #fff;
    height: 3.6rem;
    line-height: 3.6rem;
    border-radius: 6px;
    margin-top: 20px;
  }
  .copyTip{
    position: absolute;
    width: 8rem;
    height: 2.8rem;
    line-height: 2.8rem;
    font-size: 1.4rem;
    text-align: center;
    color: #fff;
    background-color: #333;
    border-radius: 6px;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    display: none;
  }

  .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated{
    color: $color2;
    border-color: $color2;
  }
  .segment-md .segment-button{
    text-transform: inherit!important;
    font-size: 1.4rem;
    color: #666;
  }

  .keystoreQRcode{
    width: 70vw;
    height: 70vw;
    margin: 5rem auto 0;
    border-radius: 6px;
    overflow: hidden;
  }
  .keystoreQRcode>div{
    width: 100%;
    height: 100%;
  }
  .safeTipBox{
    color: #fff;
    background-color: #364856;
    padding-top: 3rem;
    text-align: center;
    position: relative;
  }
  .safeTipIcon{
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    background: url("../assets/imgs/sercurity.png") center no-repeat;
    background-size: 3.6rem auto;
    background-color: #828c93;
    margin: 0 auto 3rem;
  }
  .saftTipText{
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.6rem;
    position: absolute;
    top: 55%;
    left: 0;
    font-size: 1.2rem;
  }
  .showQRcodeBtn{
    width: 10rem;
    height: 3rem;
    line-height: 3.15rem;
    background-color: #fff;
    border-radius: 10px;
    color: #4a4a4a;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    margin-left: -4.5rem;
  }
  .keystoreCodeShowBox{
    display: none;
    background-color: #eee;
    padding: 1.5rem;
  }
  .keystoreCodeShowBox canvas{
    width: 100%;
    height: 100%;
  }

}
